body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: repeating-linear-gradient(#0e67d4, #16bc9e);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1;
    background: rgb(0,36,32);
    background-color: linear-gradient(90deg, rgba(0,36,32,1) 57%, rgba(17,238,223,1) 87%, rgba(0,212,255,1) 100%);
    /*background-color: #ff6a00;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

h2 {
    color: white;
}

p {
    color: white;
}
